bokeh
botocore
Bottleneck
Cartopy
cftime
colorcet
dask
datashader
distributed
folium
fsspec
geopandas
geoviews
h5netcdf
h5py
holoviews
hvplot
matplotlib
natsort
netCDF4
numpy
pandas
panel
pyarrow
pydantic
pyextremes
pyproj
requests
s3fs
scipy
sealens @ git+https://github.com/oceanmodeling/sealens.git
seanode @ git+ssh://git@github.com/oceanmodeling/seanode.git
searvey
seastats
shapely
stormevents
thalassa
typepigeon
universal_pathlib
xarray
zarr
